<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="TTT.Feature.PageContent" dependencies="TTT.Foundation.*">
          <targetDataStore physicalRootPath="$(TTT.SerializationSource)Feature\PageContent\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="TTT.Feature.PageContent.Renderings" database="master" path="/sitecore/layout/Renderings/TTT/Feature/PageContent" />
            <include name="TTT.Feature.PageContent.Templates" database="master" path="/sitecore/templates/TTT/Feature/PageContent" />
            <include name="TTT.Feature.PageContent.RenderingContentsResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/TTT/Feature/PageContent" />
            <include name="TTT.Feature.PageContent.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/TTT/Feature/PageContent" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
