<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="role:define" xdt:Locator="Match(key)" value="Standalone, ContentManagement, Indexing" xdt:Transform="SetAttributes(value)" />
    <add key="env:define" value="Local" xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='role:define'])" />
  </appSettings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <compilation optimizeCompilations="true" xdt:Transform="SetAttributes(optimizeCompilations)" />
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />>
  </system.web>
</configuration>