<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="150" />
      <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="50" />
    </settings>
    <settings role:require="ContentManagement">
      <!-- Changes the text of the warning for items that are serialized by Unicorn. -->
      <setting name="Unicorn.DevMode" value="false" />
    </settings>

    <processors role:require="ContentManagement">
      <saveUI>
        <!-- This processor will throw up a warning if you try to save an item that is controlled by Unicorn when it has been deployed. -->
        <processor patch:before="*[@type='Unicorn.UI.Pipelines.SaveUi.SerializationConflictProcessor, Unicorn']" mode="on" type="Unicorn.UI.Pipelines.SaveUi.SerializationChangeBlocker, Unicorn"/>
      </saveUI>
    </processors>
  </sitecore>
</configuration>