<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="TTT.Project.SharedContent" dependencies="TTT.Foundation.*,TTT.Feature.*">
          <targetDataStore physicalRootPath="$(TTT.SerializationSource)Project\Shared\serialization.content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="TTT.Project.TTT.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/TTT/Project/Shared" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
