<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getRenderer>
        <processor patch:instead="*[@type='Sitecore.JavaScriptServices.ViewEngine.Presentation.Pipelines.MvcGetRenderer.GetJsLayoutRenderer, Sitecore.JavaScriptServices.ViewEngine']"
                   type="TTT.Foundation.JssExtensions.Pipelines.MvcGetRenderer.GetJsLayoutRenderer, TTT.Foundation.JssExtensions"
                   resolve="true">
          <layoutServiceConfigurationName>jss</layoutServiceConfigurationName>
        </processor>
      </mvc.getRenderer>
    </pipelines>

    <services>
      <configurator type="TTT.Foundation.JssExtensions.RegisterDependencies, TTT.Foundation.JssExtensions"
                    patch:after="configurator[@type='Sitecore.JavaScriptServices.ViewEngine.Http.RegisterDependencies, Sitecore.JavaScriptServices.ViewEngine.Http']"/>
    </services>
  </sitecore>
</configuration>