<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <site
        patch:before="site[@name='website']"
        inherits="website"
        scheme="https"
        name="ttt-shine"
        targetHostName="cm.ttt.localhost"
        rootPath="/sitecore/content/ttt-shine"
        startItem="/home"
        database="master"
        enableItemLanguageFallback="true"
        language="en"
        htmlCacheSize="100MB"/>
    </sites>
    <javaScriptServices>
      <apps>
        <app
          name="ttt-shine"
          inherits="defaults"
          sitecorePath="/sitecore/content/shine"
          serverSideRenderingEngine="http"
          serverSideRenderingEngineEndpointUrl="http://fe:3000/"
        />
      </apps>
    </javaScriptServices>
    <settings>
      <setting name="Preview.DefaultSite" value="" >
        <patch:attribute name="value" value="ttt-shine" />
      </setting>
      <setting name="PagePreview.SiteName" value="website" >
        <patch:attribute name="value" value="ttt-shine" />
      </setting>
    </settings>
  </sitecore>
</configuration>