<configuration
  xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="TTT.Project.TTT" dependencies="TTT.Foundation.*,TTT.Feature.*">
          <targetDataStore physicalRootPath="$(TTT.SerializationSource)Project\TTT\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="TTT.Project.TTT.Branches" database="master" path="/sitecore/templates/Branches/TTT/Project/TTT" />
            <include name="TTT.Project.TTT.Layouts" database="master" path="/sitecore/layout/Layouts/TTT/Project/TTT" />
            <include name="TTT.Project.TTT.Templates" database="master" path="/sitecore/templates/TTT/Project/TTT" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>

        <configuration name="TTT.Project.TTT.Structure" dependencies="TTT.Foundation.*,TTT.Feature.*">
          <targetDataStore physicalRootPath="$(TTT.SerializationSource)Project\TTT\serializationstructure" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Content here-->
            <include name="TTT.Project.TTT.Structure" database="master" path="/sitecore/content/ttt-shine" />
            <!--and JSS Key-->
            <include name="TTT.Project.TTT.Key" database="master" path="/sitecore/system/Settings/Services/API Keys/JSS" />

          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>
